.container {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

li:first-child {
  padding-top: 0;
}

.mealInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.desc {
  font-style: italic;
  /* font-size: 13px; */
}
.price {
  font-size: 20px;
  color: crimson;
}

.mealActions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
